:root {
    --platinum: #e2e1e1;
    --dark-text: #272323;
    --white: #fcfeff;
    --grey: #737373;
    --special: #f69b0f;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Baskervville', serif;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'DM Serif Display', serif; */
    background-color: var(--white);
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    /* overflow: auto; */
}
.header-wrapper {
    max-width: 1800px;
    margin: auto;
    padding: 0 1rem;
}

section {
    padding: 4rem 0;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
