// [block]__[element]--[modifier]

.banner {
    position: relative;
    height: 100vh;
    margin-bottom: 4rem;
    &__image {
        width: 100%;
        z-index: -2;
        display: block;
        height: calc(100vh - 50px);
        bottom: 0;
        position: absolute;
        background: url(../assets/banner-woman.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .banner__image {
        height: calc(100vh - 90px);
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
