.footer-column .footer-column-title {
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}
.footer-column .footer-column-content {
    display: flex;
    flex-direction: column;
}
.footer-column .footer-column-content a {
    margin: 10px 0;
    text-decoration: none;
    color: var(--white);
    font-weight: lighter;
    width: fit-content;
}
.footer-column .footer-column-content a:hover,
.footer-column .footer-column-content a:focus {
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
