// [block]__[element]--[modifier]

header {
    border-bottom: 1px solid var(--platinum);
    position: absolute;
    width: 100%;
    background-color: var(--white);
    z-index: 2;
}

/* Header */
.header {
    &__logo-link {
        width: fit-content;
        display: block;
        text-decoration: none;
    }
    &__logo {
        padding: 0.25rem 0;
        letter-spacing: 3px;
        color: var(--dark-text);
    }
    &__nav-toggle {
        display: none;
        &:checked ~ .navigation {
            transform: scale(1, 1);
            .navigation__item {
                opacity: 1;
                transition: opacity 250ms ease-in-out 250ms;
            }
        }
        &:checked + .header__hamburger-label > .hamburger > .hamburger__bar1 {
            top: 13.5px;
            background-color: transparent;
        }
        &:checked + .header__hamburger-label > .hamburger > .hamburger__bar2 {
            left: 0px;
            width: 30px;
            transform: rotate(45deg);
            background-color: var(--dark-text);
        }
        &:checked + .header__hamburger-label > .hamburger > .hamburger__bar3 {
            left: 0;
            width: 30px;
            transform: rotate(-45deg);
            background-color: var(--dark-text);
        }
        &:checked + .header__hamburger-label > .hamburger > .hamburger__bar4 {
            background-color: transparent;
        }
        &:checked + .header__hamburger-label > .hamburger > .hamburger__bar5 {
            bottom: 13.5px;
            background-color: transparent;
        }
    }
    &__hamburger-label {
        position: absolute;
        right: 1.2rem;
        top: 15px;
    }
}

/* Hamburger */
.hamburger {
    margin: 0 auto;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
    &__bar {
        padding: 0;
        width: 25px;
        height: 2px;
        background-color: var(--dark-text);
        display: block;
        transition: all 0.4s ease-in-out;
        position: absolute;
        transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }
    &__bar1 {
        top: 0;
    }
    &__bar2 {
        width: 1px;
        transform: rotate(90deg);
        left: 13.5px;
    }
    &__bar2,
    &__bar3 {
        top: 9px;
        background-color: transparent;
    }
    &__bar3 {
        right: 0;
        width: 1px;
        left: 13.5px;
    }
    &__bar4 {
        bottom: 0;
        top: 9px;
    }
    &__bar5 {
        bottom: 0px;
    }
}

/* Extra User */
.user-extra {
    display: block;
    top: 5px;
    right: 1rem;
    display: flex;
    &__link {
        color: var(--dark-text);
        &:hover,
        &:focus {
            color: var(--special);
        }
        .bi {
            font-size: 19px;
        }
    }
    &--desktop {
        display: none;
    }
    &--mobile {
        justify-content: center;
        column-gap: 24px;
    }
}

/* Navigation */
.navigation {
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 1px solid var(--platinum);
    width: 100%;
    text-align: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background-color: var(--white);
    &__items {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        margin-bottom: 1.2rem;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
    &__link {
        text-transform: capitalize;
        text-decoration: none;
        color: var(--dark-text);
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .header {
        text-align: center;
        &__logo-link {
            width: fit-content;
            display: block;
            margin: 0 auto;
        }
        &__logo {
            padding: 0.4rem 0 0.75rem 0;
            font-size: 36px;
        }
        &__nav-toggle {
            display: none;
        }
        &__hamburger-label {
            display: none;
        }
    }

    /* Extra User */
    .user-extra--desktop {
        display: flex;
        position: absolute;
        column-gap: 18px;
    }
    .user-extra--mobile {
        display: none;
    }

    /* Navigation */
    .navigation {
        position: relative;
        display: block;
        border-bottom: none;
        transform: unset;
        background-color: unset;
        &__items {
            display: flex;
            justify-content: center;
            column-gap: 20px;
        }
        &__item {
            margin-bottom: 1rem;
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
