.news-container-v1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 40px;
    position: relative;
}
.news-container-v1 .article-container img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.news-container-v1 .article-container .title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    margin: 5px 0 5px 0;
    display: block;
}
.news-container-v1 .article-container .desc {
}
.news-container-v1 .article-container .link {
    font-family: 'DM Serif Display', serif;
    color: var(--black);
    margin-top: 5px;
    display: block;
    width: fit-content;
}
.news-container-v1 .article-container .link:hover,
.news-container-v1 .article-container .link:focus {
    text-decoration: none;
}

@media (min-width: 768px) {
    .news-container-v1 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}
