.news-container {
    /* background-color: #1b1b1b; */
    /* color: var(--dark-text); */
    /* border: 1px solid red; */
    color: var(--black);
    padding: 0rem 0rem 0rem 0rem;
    position: relative;
}

.news-container .news-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.news-container .news-item img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Content */
.news-container .news-item .news-content {
    position: relative;
}
.news-container .news-title-mobile {
    color: var(--black);
    font-size: 34px;
}
.news-container .news-content .news-title-desktop {
    display: none;
}
.news-container .news-title span {
    font-family: 'DM Serif Display', serif;
}

/* Text arrow */
.news-container .news-content .text-arrow {
    padding: 3rem 0rem 0rem 0rem;
    bottom: 20px;
    position: relative;
}
.news-container .news-content .text-arrow .article-title {
    color: var(--black);
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 2.5px;
}
.news-container .news-content .text-arrow p {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px;
}
.news-container .text-arrow .controls {
    width: fit-content;
    float: right;
}
.news-container .text-arrow .controls .slide-button {
    background-color: unset;
    border: none;
    font-size: 28px;
    position: relative;
    cursor: pointer;
}
.news-container .text-arrow .controls .prev-button {
    /* left: 0px; */
}
.news-container .text-arrow .controls .next-button {
    /* left: 35px; */
    margin-left: 10px;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .news-container .news-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .news-container .news-title-mobile {
        display: none;
    }
    .news-container .news-content .news-title-desktop {
        display: block;
        color: var(--black);
        font-size: 34px;
        position: absolute;
        top: 75px;
        left: -80px;
        transform: rotate(90deg);
    }
    .news-container .news-content .text-arrow {
        padding: 3rem 0rem 0rem 4rem;
        bottom: 20px;
        position: absolute;
    }
    .news-container .news-content .text-arrow p {
        text-align: justify;
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .news-container .news-content .text-arrow {
        padding: 3rem 0rem 0rem 6rem;
        bottom: 20px;
        position: absolute;
    }
}

@media only screen and (min-width: 1200px) {
}
