.signup-background {
    background-color: black;
    height: 100vh;
    position: relative;
}

.signup-section {
    padding-bottom: 0px !important;
}

.signup-container {
    color: var(--white);
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.signup-container span {
}

/* Form */
.signup-container form {
    padding-top: 4rem;
}
.signup-container form .form-container {
    /* border: 1px solid blue; */
    display: flex;
    margin: 0 auto;
    width: fit-content;
}
.signup-container form .form-container .form-input {
    position: relative;
}

/* Label */
.signup-container form .form-container .form-input label {
    position: absolute;
    bottom: 6px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 16px;
    transition: bottom 0.5s, font-size 0.5s;
}

.signup-container form .form-container.focused .form-input label {
    bottom: 27px;
    font-size: 14px;
}

/* Input */
.signup-container form .form-container .form-input input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    padding: 5px 5px 5px 0;
    width: 200px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: var(--white);
}
.signup-container form .form-container .form-input input:focus {
    outline: none;
}

/* Button */
.signup-container form .form-container button {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    padding: 5px 0 5px 5px;
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.signup-container form .form-container button:hover {
    cursor: pointer;
}
