#static-header {
    border-bottom: 1px solid var(--platinum);
    position: absolute;
    width: 100%;
    background-color: var(--white);
    z-index: 2;
}
#static-header a {
    text-decoration: none;
}
#static-header .logo {
    width: fit-content;
    display: block;
}
#static-header .logo h1 {
    padding: 0.25rem 0;
    color: var(--dark-text);
}

/* Extra user */
#static-header .user-extra {
    display: block;
    top: 5px;
    right: 1rem;
    display: flex;
}
#static-header .user-extra a {
    color: var(--dark-text);
}
#static-header .user-extra a:hover,
#static-header .user-extra a:focus {
    color: var(--special);
}
#static-header .user-extra a .bi {
    font-size: 19px;
}
#static-header .user-extra-desktop {
    display: none;
}
#static-header .user-extra-mobile {
    justify-content: center;
    column-gap: 24px;
}

/* Navigation */
#static-header nav {
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 1px solid var(--platinum);
    width: 100%;
    text-align: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background-color: var(--white);
}
#static-header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#static-header nav ul li {
    margin-bottom: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
#static-header nav ul li a {
    text-transform: capitalize;
    color: var(--dark-text);
}
#static-header nav ul li a:hover,
#static-header nav ul li a:focus {
    text-decoration: underline;
}

/* Toggle hamburger */
#static-header .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}
#static-header .nav-toggle:checked ~ nav li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
#static-header .nav-toggle {
    display: none;
}
#static-header .nav-toggle-label {
    position: absolute;
    right: 1.2rem;
    top: 15px;
}

#static-header .nav-toggle-label .hamburger {
    margin: 0 auto;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
#static-header .nav-toggle-label .hamburger .bar {
    padding: 0;
    width: 25px;
    height: 2px;
    background-color: var(--dark-text);
    display: block;
    transition: all 0.4s ease-in-out;
    position: absolute;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}
#static-header .nav-toggle-label .hamburger .bar1 {
    top: 0;
}
#static-header .nav-toggle-label .hamburger .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}
#static-header .nav-toggle-label .hamburger .bar2,
#static-header .nav-toggle-label .hamburger .bar3 {
    top: 9px;
    background-color: transparent;
}
#static-header .nav-toggle-label .hamburger .bar3 {
    right: 0;
    width: 1px;
    left: 13.5px;
}
#static-header .nav-toggle-label .hamburger .bar4 {
    bottom: 0;
    top: 9px;
}
#static-header .nav-toggle-label .hamburger .bar5 {
    bottom: 0px;
}
#static-header .nav-toggle:checked + label > .hamburger > .bar1 {
    top: 13.5px;
    background-color: transparent;
}
#static-header .nav-toggle:checked + label > .hamburger > .bar2 {
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
    background-color: var(--dark-text);
}
#static-header .nav-toggle:checked + label > .hamburger > .bar3 {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
    background-color: var(--dark-text);
}
#static-header .nav-toggle:checked + label > .hamburger > .bar4 {
    background-color: transparent;
}
#static-header .nav-toggle:checked + label > .hamburger > .bar5 {
    bottom: 13.5px;
    background-color: transparent;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    #static-header .header-wrapper {
        text-align: center;
    }
    #static-header .logo {
        width: fit-content;
        display: block;
        margin: 0 auto;
    }
    #static-header .logo h1 {
        padding: 0.4rem 0 0.75rem 0;
        font-size: 36px;
    }
    /* User extra */
    #static-header .user-extra-desktop {
        display: flex;
        position: absolute;
        column-gap: 18px;
    }
    #static-header .user-extra-mobile {
        display: none;
    }
    /* Nav */
    #static-header nav {
        position: relative;
        display: block;
        border-bottom: none;
        transform: unset;
        background-color: unset;
    }
    #static-header nav ul {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }
    #static-header nav ul li {
        margin-bottom: 1rem;
        opacity: 1;
    }
    /* Toggle */
    #static-header .nav-toggle {
        display: none;
    }
    #static-header .nav-toggle-label {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
